.slider {
    margin: 0 auto 10vh;
    width: 75%;
    max-width: 1000px;
}

.Slideshow .slick-prev:before, .Slideshow .slick-next:before {
    color: black;
}

.container {
    position: relative;
    background-color: rgb(100, 100, 100);
}

.container img, .container video {
    width: 100%;
}

.image-content {
    position: absolute;
    top: 5%;
    width: 75%;
    margin: 0 12.5%;
}

.image-content p {
    opacity: 0;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-bottom: 1vh;
}

.image-content a {
    display: flex;
    justify-content: center;
    opacity: 0;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 2.5vmax;
    height: 2.5vmax;
    margin: 0 auto;
    text-decoration: none;
}

.image-content a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-instagram {
    font-size: 1.5vmax;
    position: relative;
    display: flex;
    align-items: center;
}

.fa-youtube {
    font-size: 1.5vmax;
    position: relative;
    display: flex;
    align-items: center;
}

.container:hover > .image-content p, .container:hover > .image-content a {
    animation: fadein 1s linear forwards;
}

.container:hover > img, .container:hover > video {
    animation: fadeout 1s linear forwards;
    
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0.2;}
}

@media (max-width: 750px) {
    .image-content p {
        font-size: 10px;
    }
}
