.slider {
    margin: 0 auto 10vh;
    width: 75%;
    max-width: 1000px;
}

.slideshow .slick-prev:before, .slideshow .slick-next:before {
    font-size: 3vmin;
    color: black;
}

.slideshow .slick-prev {
    left: -4vmin;
}

.slideshow .slick-next {
    right: -3vmin;
}

.container {
    position: relative;
    background-color: rgb(100, 100, 100);
}

.container img {
    width: 100%;
}

.image-content {
    position: absolute;
    display: block;
    top: 4vw;
    width: 75%;
    margin: 0 12.5%;
}

.image-content p {
    opacity: 0;
    width: 100%;
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-bottom: 1vh;
}

.image-content a {
    display: block;
    opacity: 0;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 5vmax;
    height: 5vmax;
    top: 75%;
    margin: 0 auto;
}

.image-content a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-instagram {
    font-size: 3vmax;
    position: relative;
    width: 60%;
    height: 60%;
    top: 21%;
    left: 24%;
}

.fa-youtube {
    font-size: 3vmax;
    position: relative;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 16%;
}

.container:hover > .image-content p, .container:hover > .image-content a {
    animation: fadein 1s linear forwards;
}

.container:hover > img {
    animation: fadeout 1s linear forwards;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0.2;}
}

