html {
  background:white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: white;
}

.opening {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.portrait {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto 0;
}

.opening-text {
  width: 50%;
  min-width: 300px;
}

.header {
  width: 100%;
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

.description {
  padding-bottom: 100px;
  max-width: 1000px;
}

.text {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 160%;
  padding: 0 5vw 40px;
}

@media (max-width: 650px) {
  .opening {
    display: block;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .opening-text {
    width: 90%;
    margin: 0 auto;
  }

  .introduction {
    width: 100%;
    padding: 0;
  }

  .hello {
    padding: 0;
  }
}